[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
notion = "*"
pep8 = "*"
pylint = "*"
pre-commit = "*"
python-dotenv = "*"
omdb = "*"
simplejson = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
